<footer class="site-footer">
  {% block footer %}
  <div class="container">
    {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
    <div class="site-footer__top clearfix">
      {{ page.footer_first }}
      {{ page.footer_second }}
      <section class="row region contact-us">
        <ul>
          <li>USA : <a href="tel:+1-844-567-5232">+1-844-567-5232</a></li>
          <li>UK : <a href="tel:+44-800-031-5040">+44-800-031-5040 </a></li>
          <li>AUS : <a href="tel:+61-180-074-6461">+61-180-074-6461</a></li>
          <li>IND : <a href="tel:+91-44-4290-7900">+91-44-4290-7900</a></li>
        </ul>
      </section>
      {{ page.footer_third }}
      {{ page.footer_fourth }}
      <section class="row region region-footer-second">
        <div>
          <img src="{{ base_path }}/images/footer-microsoft-partner-logo.png" alt="Microsoft partner logo">
          <img src="{{ base_path }}/images/footer-salesforce-partner-logo.png" alt="salseforce partner logo">
      </section>
    </div>
    {% endif %}
    {% if page.footer_fifth %}
    <div class="site-footer__bottom">
      {{ page.footer_fifth }}
    </div>
    {% endif %}
  </div>
  {% endblock %}
</footer>