<footer class="site-footer" role="contentinfo">
        <div class="{{ container }}">
{# Primary column of footer #}
<div class="row">

    <div class="site-footer__top clearfix col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        {{ page.footer_col1 }}
    </div>

{# Secondary column of footer #}

    <div class="site-footer__top clearfix col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        {{ page.footer_col2 }}
    </div>

{# Third column of footer #}

    <div class="site-footer__top clearfix col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        {{ page.footer_col3 }}
    </div>

{# Fourth column of footer #}

    <div class="site-footer__top clearfix col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        {{ page.footer_col4 }}
    </div>

{# fifth columna del footer #}

    <div class="site-footer__top clearfix col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        {{ page.footer_col5 }}
    </div>
     <div class="cit-copyrights">
            <span>© 2019 Congruent Software Inc. All rights reserved.</span>
    </div>
</div>
</div>
</footer>