<footer class="site-footer">
  {% block footer %}
  <div class="{{ container }}">
    {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
    <div class="site-footer__top clearfix">
      <div class="row">
        <div class="col-sm-2dot4">
      {{ page.footer_first }}
      </div>
      <div class="col-sm-2dot4">
      {{ page.footer_second }}
      </div>
      <div class="col-sm-2dot4">
      <section class="row region contact-us">
        <ul class="nav navbar-nav">
          <li class="nav-item nav-link"><span class="footer-text"><i class="fa fa-phone"></i> USA : </span><a href="tel:+1-844-567-5232">+1-844-567-5232</a></li>
          <li class="nav-item nav-link"><span class="footer-text"><i class="fa fa-phone"></i> UK : </span><a href="tel:+44-800-031-5040">+44-800-031-5040 </a></li>
          <li class="nav-item nav-link"><span class="footer-text"><i class="fa fa-phone"></i> AUS : </span><a href="tel:+61-180-074-6461">+61-180-074-6461</a></li>
          <li class="nav-item nav-link"><span class="footer-text"><i class="fa fa-phone"></i> IND : </span><a href="tel:+91-44-4290-7900">+91-44-4290-7900</a></li>
          <li class="nav-item nav-link"><span class="footer-text"><i class="fa fa-envelope"></i> </span><a href="mail:info@congruentsoft.com">info@congruentsoft.com</a></li>
        </ul>
      </section>
      </div>
      {{ page.footer_third }}
      <div class="col-sm-2dot4">
      {{ page.footer_fourth }}
      </div>
      <div class="col-sm-2dot4">
      <section class="row region region-footer-second">
        <div>
          <img src="{{ base_path }}/images/footer-microsoft-partner-logo.png" alt="Microsoft partner logo">
          <img src="{{ base_path }}/images/footer-salesforce-partner-logo.png" alt="salseforce partner logo">
      </section>
      </div>
    </div>
    </div>
    {% endif %}
    {% if page.footer_fifth %}
    <div class="site-footer__bottom">
      {{ page.footer_fifth }}
    </div>
    {% endif %}
  </div>
  {% endblock %}
</footer>